
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

select {
  outline: none;
  text-decoration: none;
  border: none;
}

.select2-container .select2-selection--single {
  outline: none !important;
}



.btn-active {
  display: none;
}



@media screen and (max-width: 1096px) {


  .content_vacancy {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
  }

  .content_advertising__single {
    max-height: 450px;
  }

  .content-single {
    flex-direction: column;
  }
}

@media screen and (max-width: 583px) {
  .content_vacancy {
    flex-direction: column;
    margin-top: -60px;
    position: relative;
    z-index: -1;
  }

  .content_advertising__single {
    margin: 5px auto;

  }

}
