*, *:focus, *:hover {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

.background__pointer_right{
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;

}

.background__pointer_left{
    position: absolute;
    top: -200px;
    z-index: -1;
}
.Container {
    width: 100%;
    padding: 0;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-logo > a {
    display: flex;
    flex-wrap: nowrap;
    margin: auto 20px;
    text-decoration: underline;
    font-family: MullerExtraBold, sans-serif;
    color: #dd3d34;

}

.nav-logo {
    display: flex;
    margin: 30px 30px 30px 0;
}

.navigation > a {
    margin: 0 20px;
    text-decoration: none;
    font-family: MullerMedium, sans-serif;
    height: 13px;
    font-size: 15px;
}

.nav-logo__a {
    height: 100%;
}

.nav-pa {
    margin-left: 60px;
}

.nav-pa > a {
    margin: 5px;
    text-decoration: none;
    font-family: MullerRegular, sans-serif;
    font-size: 15px;
}
.fa-search:before {
    color: white;
}
.abstract {
    border-radius: 18px;
    background-color: #dd3d34;
    height: 38px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    font-family: MullerRegular, sans-serif;
    color: #ffffff;
    white-space: nowrap;
}

.search {
    background-image: url("../img/bacgroundHeader1.jpg");
    border-radius: 0 33px 0 0;
    height: 90px;
    width: 100%;
    position: relative;
    z-index: 5;
    max-width: 1838px;
}

.formSearch > div {
    margin: 15px 15px 0;
}

.searchCity {
    position: relative;
    border-radius: 50px;
    border: 1px solid #636467;
}
.searchCity>.searchCity__button_color{
    background: #dd3d34;
}

.searchCity > * {
    position: relative;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    margin: 7px;
    z-index: 60;
}

.formSearch {
    display: flex;
    justify-content: center;
}

.searchCity > button {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
}

.searchCity > .fa fa-times {
    font-family: MullerBold, sans-serif;
}

.border > button {
    font-family: MullerExtraBold, sans-serif;
    margin-top: 10px;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    background-color: #dd3d34;
    width: 200px;
    cursor: pointer;
}

.searchVacancy {
    width: 450px
}

.border {
    margin: 0 20px;
    border-radius: 50px;
    border: 1px solid #636467;
    padding: 0 7px 8px;
}

.iconChair {
    position: absolute;
    top: 15px;
    left: 10%;
}

.navigation_active:after {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid #444a99;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -40px;
    width: 0;
}

.navigation_active {
    border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    padding: 5px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.way {
    margin: 20px 0 0 17%;
}

.way > * {
    font-family: MullerRegular, sans-serif;
}

.way > ul {
    display: flex;
}

li {
    list-style-type: none;
    margin-right: 15px;
}

.way > ul > li > a {
    text-decoration: none;
    border: none;
}

.way > ul > li > a > svg {
    margin: 0 0 -5px 10px;
}


