button {
    border: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

.menu_logo-visible {
    display: none;
}
.background__pointer_right {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;

}

.background__pointer_left {
    position: absolute;
    top: -200px;
    z-index: -1;
}

.container {
    width: 100%;
    padding: 0;
}


.header-wrap__navParent{
    display: flex;
}
.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 105px;
}

.nav-logo > a {
    display: flex;
    flex-wrap: nowrap;
    margin: auto 20px;
    text-decoration: underline;
    font-family: MullerExtraBold, sans-serif;
    color: #dd3d34;

}

.nav-logo {
    display: flex;
    margin: auto;
}

.navigation > a {
    margin: 0 15px;
    text-decoration: none;
    font-family: MullerMedium, sans-serif;
    height: 13px;
    font-size: 15px;
}


.nav-pa {

    margin:30px auto;
}

.nav-pa > a {
    margin: 5px;
    text-decoration: none;
    font-family: MullerRegular, sans-serif;
    font-size: 15px;
}

.fa-search:before {
    color: white;
}

.abstract {
    border-radius: 18px;
    background-color: #dd2629;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    font-family: MullerRegular, sans-serif;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.5s;
}

.abstract:hover {
    background-color: #941515;
    transition: background-color 0.5s;
}

.search {
    background-image: url("../img/bacgroundHeader1.jpg");
    border-radius: 0 33px 0 0;
    height: 90px;
    width: 95%;
    position: relative;
    z-index: 5;
    max-width: 1838px;
}

.searchCity {
    margin: 15px 30px 0;
}

.searchCity {
    position: relative;
   /* border-radius: 50px;
    border: 1px solid #636467;*/
}

.searchCity__input {
    position: relative;
}


.searchCity::before {
    content: '';
    position: absolute;
    top: 1px;
    left: -1px;
    padding: 23px 247px;
    border-radius: 50px;
    border: 1px solid #636467;
}
.searchCity__select {
    appearance: none;
    width: 200px;
}


.searchCity > .searchCity__button_color {
    background-color: #dd2629;
    transition: background-color 0.5s;
}

.searchCity > .searchCity__button_color:hover {
    background-color: #941515;
    transition: background-color 0.5s;
}

.searchCity > * {
    position: relative;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    margin: 7px;
    z-index: 60;
}

.formSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchCity > button {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    z-index: 90;
}

.searchCity > .fa .fa-times {
    font-family: MullerBold, sans-serif;
}

.border > button {
    font-family: MullerExtraBold, sans-serif;
    margin-top: 10px;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    background-color: #dd2629;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.border > button:hover {
    background-color: #941515;
    transition: background-color 0.5s;
}

.searchVacancy {
    width: 450px
}

.border {
    margin: 0 20px;
    border-radius: 50px;
    border: 1px solid #636467;
    padding: 0 7px 8px;
}

.iconChair {
    position: absolute;
    top: 15px;
    left: 5%;
}

.navigation_active:after {
    content: '';
    border: 12px solid transparent;
    border-bottom: 12px solid #444a99;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -40px;
    width: 0;
}

.presentation {
    background-image: url("../img/treugol.svg");
}
.navigation_active {
    border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    padding: 5px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.way {
    margin: 20px 0 0 17%;
}

.way > * {
    font-family: MullerRegular, sans-serif;
}

.way > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0 10px 5px;
}

.way__link {
    list-style-type: none;
    color: #30408d;
    white-space: normal;
}


.way > ul > li > a {
    text-decoration: none;
    border: none;
    white-space: nowrap;
}

.way > ul > li > a > svg {
    margin: 0 10px -5px 10px;
}

.activeBtn {
    position: absolute;
    z-index: 2;
}

.navigation {
    margin: auto 60px;
}
.border_before {
    position: relative;
    border-radius: 18px;
    background-color: #dd2629;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    font-family: MullerRegular, sans-serif;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.5s;
    height: 35px;
    width: 170px;
    margin-top: 13px;
}
.border_before:hover {
    background-color: #941515;
    transition: background-color 0.5s;
}

.border_before::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -9px;
    padding: 23px 93px;
    border-radius: 50px;
    border: 1px solid #636467;
}

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    opacity: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    z-index: -1;
}
.active-filter-overlay {
    opacity: .38;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    z-index: 998;
}
.nav-overlay {
    display: none;
}
.header-wrap__button_menu {
    display: none;

}
.select2City {
    position: relative;
}
.select2City:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -1px;
    padding: 23px 247px;
    border-radius: 50px;
    border: 1px solid #636467;
    z-index: 9999999;

}
.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 0!important;
    margin-top: 2px!important;
    padding-right: 9px!important;
}
.select2-container--default .select2-selection--single {
    border: none !important;
}
.select2-dropdown {
    border: none !important;
}

.formSearch__select {
    background-color: #ffffff;
    border-radius: 13px;
    padding: 2px 7px;
    margin-top: 14px;
    position: relative;
    z-index: 1;
    margin-left: 5px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: MullerRegular, sans-serif !important;
    font-size: 14px    !important;
}
.select2-container--default .select2-results>.select2-results__options {
    font-family: MullerRegular, sans-serif !important;
    font-size: 14px    !important;
}
.select2-selection__arrow {
    display: none;
}
.searchCity__select {
    margin-top: 16px;
}
@media (max-width: 1365px) {

    .menu_logo-visible {
        display: block;
    }

    .header-wrap__button_menu {
        display: block;
        margin: 60px 0 0 35px;
        cursor: pointer;
        z-index: 1000;
        position: fixed;
        left: 0;
    }
    .header-wrap__navParent {
        position: fixed;
        top: 0;
        left: 0;
        width: 350px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #374398;
        color: #000;
        transform: translateX(-200%);
        transition: all ease 1s;
        z-index: 999;
    }
    .active-nav {
        transform: translateX(0);
    }
    .nav-logo >a {
        margin: 5px 15px;
        align-items: flex-end;
    }
    .nav-logo {
        display: flex;
       /* margin: 55px 0 35px 11%;*/
    }
    .navigation >a  {
        margin: 5px 35px 10px;
        font-size: 28px;
        color: #FFFFFF;
        height: auto;

    }
    .navigation {
        display: flex;
        flex-direction: column;
        margin: 140px 0 0 0;
    }
    .menu_logo-visible{
        margin:150px 0 45px 35px;
}

    .nav-pa > a {
        margin: 5px 15px;

    }
    .nav-pa  {
        display: flex;
        align-items: center;
      /*  margin: 0 0 0 9%;*/
    }

    .navigation_active {
        text-align: left;
        border: none;
        padding: 0;
        margin: 0;
    }
    .navigation_active:after {
        text-align: left;
        border: none;
    }
    .aside__side-bar__button__checkbox{
        margin-left: 10px  ;
    }
    .search {
        width: 100%;
        background-size: cover;
    }
    .iconChair {
        display: none;
    }
    .way {
        margin:  0;
    }
    .way {
        margin-left: 25px;
    }
}

@media (max-width: 1023px) {
    .border >button {
        width: 100%;
        white-space: nowrap;
    }
    .searchVacancy {
        width: 250px
    }
    .header-wrap {
        justify-content: flex-start;
        flex-direction: column;
        height: 225px;
    }
    .searchCity::before {
        content: '';
        padding: 23px 147px;

    }
}

@media (max-width: 900px) {
    .iconChair {
        display: none;
    }

}

@media (max-width: 760px) {
    .searchCity > .searchCity__button_color{
        right: -60px;
    }
    .searchVacancy{
        width: 190px;
    }
    .searchCity::before {
        content: '';
        padding: 23px 117px;
    }
  .border_before {
      display: none;
  }

    .formSearch {
        justify-content: flex-start;
    }
    .formSearch > div {

    }

}

@media (max-width: 550px) {
    .header-wrap__button_menu {
        margin: 10px 0 0 4px;
    }
    .formSearch__select{
        margin-bottom: 20px;
    }
    .search {
        height: 150px;
    }
    .way {
        margin:  0;
    }
    .way__link >a >span {
        white-space: normal;
    }
    .way > ul > li > a > svg {
       margin:  0 10px -5px 0;
    }
    .nav-pa {
        margin: auto;
    }
    .searchCity > .searchCity__button_color {
        right: 0;
    }
    .nav-pa>a {
        margin: 5px;
    }
    .nav-logo {
        margin: 45px auto 0;
    }
   /* .searchCity__input{
        width: calc( 100% - 45px);
    }*/
   /* .searchCity__select {
        width: calc(100% - 15px);
    }*/
    .formSearch {
        flex-direction: column;
    }

}

@media (max-width: 420px) {
    .nav-logo {
        margin: 20px 2px 0;
    }
    .nav-logo >a {
        margin: 45px 5px 0;
        font-size: 12px;
    }
    .nav-pa>a {
        font-size: 13px;
        line-height: 20px;
    }

}







